{% if elevate_has_gallery == 'yes' %}
  {% set flag = 0 %}
  {% for images in elevate_images %}
    {% if flag == '0' %}
      <figure class="figure main-zoom" id="figure-{{ elevate_id }}">
        <img class="{{ elevate_class }} elevatezoom" data-entity="{{ elevate_id }}" src="{{ images.images_url }}" alt="{{ images.alt }}" data-bs-toggle="tooltip" data-bs-html="true" title="{{ images.title }}"
         data-zoom-type="{{ images.zoom_type }}"
         data-zoom-image="{{ images.zoom_image_url }}"
         data-tint-colour="{{ images.shadow_color }}"
         data-zoom-window-position="{{ images.window_position }}"
         data-zoom-window-width="{{ images.window_width }}"
         data-zoom-window-height="{{ images.window_height }}"
         data-lens-size="{{ images.lens_size }}"/>
        <figcaption class="figure-caption">{{ images.title }}</figcaption>
      </figure>
      <div class="elevate_zoom--{{ images.zoom_type }}_list gallery-list row text-center text-lg-start" id="elevate_zoom--gallery_list-{{ elevate_id }}">
      {% set flag = 1 %}
    {% endif %}
  <figure class="col-lg-3 col-md-4 col-6">
    <a class="figure" href="#figure-{{ elevate_id }}" data-image="{{ images.images_url }}" data-zoom-image="{{ images.zoom_image_url }}" class="d-block mb-4 h-100">
      <img class="{{ elevate_class }} img-fluid img-thumbnail elevate_zoom_gallery entity-{{ elevate_id }}" data-entity="{{ elevate_id }}" src="{{ images.thumbnail }}" alt="{{ images.alt }}" data-bs-toggle="tooltip" data-bs-html="true"
       title="{{ images.title }}"/>
      {% if images.title %}<figcaption class="figure-caption">{{ images.title }}</figcaption>{% endif %}
    </a>
  </figure>
  {% endfor %}
  </div>
{% else %}
<div class="row text-center text-lg-start">
  {% for images in elevate_images %}
    <figure class="figure col-lg-3 col-md-4 col-6">
      <img class="{{ elevate_class }} img-fluid img-thumbnail elevatezoom entity-{{ elevate_id }}" data-entity="{{ elevate_id }}" src="{{ images.images_url }}" alt="{{ images.alt }}" data-bs-toggle="tooltip" data-bs-html="true"
       title="{{ images.title }}"
       data-zoom-type="{{ images.zoom_type }}"
       data-zoom-image="{{ images.zoom_image_url }}"
       data-shadow-color="{{ images.shadow_color }}"
       data-window-position="{{ images.window_position }}"
       data-window-width="{{ images.window_width }}"
       data-window-height="{{ images.window_height }}"
       data-lens-size="{{ images.lens_size }}"/>
      {% if images.title %}<figcaption class="figure-caption">{{ images.title }}</figcaption>{% endif %}
    </figure >
  {% endfor %}
</div>
{% endif %}
